/* styles.css */
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

/* Estilos para etiquetas de formulario */
label {
    font-weight: bold;
    display: block; /* Coloca cada etiqueta en una línea nueva */
    margin-bottom: 0.5em; /* Espaciado inferior más pequeño */
}

/* Estilos para campos de entrada */
input[type="text"] {
    width: 10%;
    padding: 0.5em;
    margin-bottom: 1em; /* Espaciado inferior más grande */
} 

/* Estilos para el botón de guardar */
button[type="button"] {
    background-color: #007bff;
    color: #fff;
    padding: 0.5em 1em; /* Espaciado relativo al tamaño del texto */
    border: none;
    cursor: pointer;
}

/* Estilos para el botón de guardar al pasar el ratón por encima */
button[type="button"]:hover {
    background-color: #0056b3;
}
